{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react/no-did-mount-set-state": "off",
    "import/prefer-default-export": "off",
    "prefer-template": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "global-require": "off"
  },
  "globals": {
    "cy": true
  }
}
