/* 
 * If you want to override the whole html fontSize via css (for non material-ui
 * tags like <p> <li> ...)
 *
 * Otherwise, you will be using <Typography> (directly or indirectly)
 *
 * So, remember to override the material ui theme in index.js
 *
 * See: https://material-ui-next.com/customization/themes/#typography-font-size
 */
html {
  font-size: 87.5%; /* 87.5% of 16px = 14px */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}
a {
  color: #900000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #900000;
}
