/* 
 * If you want to override the whole html fontSize via css
 * 75% of 16px = 12px
 * Remember to override the material ui theme with htmlFontSize: 12
 * See: https://material-ui-next.com/customization/themes/#typography-font-size
html {
  font-size: 75%; /* 75% of 16px = 12px *
}
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}
a {
  color: #900000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #900000;
}
